<form #fullemployeeForm="ngForm" (ngSubmit)="saveEmployee()">

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">More Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group" [class.has-error]="address.invalid && address.touched"
                        [class.has-success]="address.valid">
                        <label for="address" class="control-label">Address</label>
                        <input id="address" required type="text" name="address"
                            [(ngModel)]="fullEmployeeDetailsService.address" class="form-control" #address="ngModel">
                        <span class="help-block" *ngIf="address.invalid && address.touched">
                            address is required
                        </span>
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="fullemployeeForm.invalid">Save</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div>
                <h3>All Form Details entered by the employee</h3>
            </div>
            <br />
            <div>
                Full Employee value is : {{fullEmployeeDetailsService | json }} <br /><br />
                {{messagestatus}}
            </div>
        </div>
    </div>
</form>