<div class="row">
  <div class="col-sm-4">
    <h4 #manipulate></h4>
    <img src="{{srcPath}}" width="50" height="50"><br /><br />
    <div>
      <!-- here value is attribute binding which flows data from class to html 
      and input is event binding which flows the data from html to the class-->
      First Name : <input type="text" [value]='firstname' (input)='firstname=$event.target.value' /><br /><br />
      Second Name : <input type="text" [(ngModel)]='lastname' />
      <div *ngIf="lastname==''; else loading">*
      </div>
      <ng-template #loading>
        <div>..</div>
      </ng-template>
      You Have Entered : First Name : {{firstname}} Second Name :{{lastname}} <br />{{fullname}}
      <br />
      <table>
        <!-- Cant place multiple directives together-->
        <ng-container *ngFor="let e of count;let i=index">
          <tr *ngIf='i%2==0'>
            <!-- here vowelpipe is the custom pipe and parameters are passed using :i:j -->
            <td *ngIf='BooleanCondForIF(e)'> {{e | uppercase | vowelpipe:i}}</td>
          </tr>
        </ng-container>
      </table>
      <br />
      <button type="button" class="btn btn-primary" (click)=btnClick()>PARENT Component Button</button>
    </div>
    <br />
    <p>Data from child to the parent via OUTPUT parameter is {{receivedFromChild | json }}</p><br />
    <!-- <p>Data from child to the parent via REFERENCE variable is {{ childToParentTr.carstatic| json}} </p><br /> -->
  </div>

  <div class="col-md-8">
    <!-- Here [parentToChild] is the @Input Component present in the child component-->
    <!-- Here (childToParent) is the @Output component,
           this is in the child component and will send update to the parent-->
    <!--[parentToChild] is from parent to the child via the @Input parameter
              (childToParent)  is from child to the parent which emits the data in the child and parent catches it-->
    <app-child [parentToChild]="firstname" (childToParent)="GetOutputFromChild($event)" #childToParentTr>
      <!-- this is the contentview -->
      <h4>This is the Child Component</h4>
    </app-child>
  </div>
</div>